<body id="artist-body">

	<%= render :partial => 'nav' %>

	<div id="search-container">
		<!-- NAVIGATION ICON-->
		<div class="menu-icon">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div id="social-media">

		</div>
		<form id="search-form">
			<input type="text" name="artist" id="artist" placeholder="...Search artist here">
			<input type="submit" id="submit" value="Submit">
		</form>
	</div>

	<div id="artist-menu">
		<h5 id="tourMenu">Tour</h5>
		<h5 id="newsMenu">News</h5>
	</div>

	<section class="tour">
		
	</section>

	<section class="news">

	</section>

	<section id="twitter">
		<h3 class="section-header">Twitter</h3>
	</section>

	<div id="loading">
		<%= image_tag("spiffygif_156x156.gif")%>
	</div>

</body>

