<body id="user-body">

	<%= render :partial => 'nav' %>

	<!-- NAVIGATION ICON-->
	<div class="menu-icon">
		<span></span>
		<span></span>
		<span></span>
	</div>


	<h1>Welcome, <%= @user.email %></h1>

	

</body>


